<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.todo1.microAppsFlutterCordovaplugin" version="1.0.0">
   <name>microAppsFlutterCordovaplugin</name>

   <js-module name="microAppsFlutterCordovaplugin" src="www/microAppsFlutterCordovaplugin.js">
      <clobbers target="cordova.plugins.microAppsFlutterCordovaplugin" />
   </js-module>

   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="MicroAppsFlutterCordovaplugin">
            <param name="ios-package" value="MicroAppsFlutterCordovaplugin" />
         </feature>
      </config-file>
      <header-file src="src/ios/MicroAppsFlutterCordovaplugin.h" />
      <source-file src="src/ios/MicroAppsFlutterCordovaplugin.m" />

      <!-- start implement album module -->

      <!-- Framework Release -->
      <framework src="src/ios/framework/album/release/App.framework" custom="true" embed="true" />
      <framework src="src/ios/framework/album/release/Flutter.framework" custom="true" embed="true" />
      <!-- <framework src="src/ios/framework/album/release/FlutterPluginRegistrant.framework" custom="true" embed="false" />  -->
      <framework src="src/ios/framework/album/release/image_picker.framework" custom="true" embed="true" />
      <framework src="src/ios/framework/album/release/local_auth.framework" custom="true" embed="true" />
      <framework src="src/ios/framework/album/release/shared_preferences.framework" custom="true" embed="true" />
      <framework src="src/ios/framework/album/release/url_launcher.framework" custom="true" embed="true" />
      <framework src="src/ios/framework/album/release/webview_flutter.framework" custom="true" embed="true" />

        <hook type="before_plugin_install" src="hooks/ios_build_config.js"/>
        <hook type="after_plugin_install" src="hooks/ios_embed_framework_hook.js"/>
      
   </platform>

</plugin>